{% extends 'base.html' %}
{% block content %}
<div class="shadow card">
                    <div class="card-body">
                        <h5 class="class-Title">{{task.name}}</h5>
                        <p><b>{{task.priority}}</b></p>
                        <p>{{task.date}}</p>
                        <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
                         <a class="btn btn-warning" href="{% url 'update' task.id %}">Update</a>
                    </div>
                </div>
{% endblock %}