<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>REGISTRATION</h2>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="UserName"><br>
    <input type="text" name="first_name" placeholder="Enter Your First Name"><br>
    <input type="text" name="last_name" placeholder="Enter Your Last Name"><br>
    <input type="email" name="email" placeholder="Enter Your Email Address"><br>
    <input type="password" name="password" placeholder="Enter Your Password"><br>
    <input type="password" name="password1" placeholder="Confirm Your Password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>